.top-blok {
  height: 685px;
}
.left-blok {
  display: none;
  overflow: hidden;
}

.left-blok img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.right-blok {
  height: 100%;
  padding: 50px 0;
  text-align: center;
}

.right-form {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
}

.mat-raised-button.mat-button-disabled:not([class*="mat-elevation-z"]) {
  margin: auto;
}

::ng-deep .mat-form-field {
  min-width: 250px;
  margin: auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: 100%;
}

.right-form h3 {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(22, 149, 223);
  font-family: sans-serif;
  margin: auto;
}

.right-form input {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 52px;
  border: 1px solid rgba(145, 143, 143, 0.486);
  outline: none;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}

.right-data {
  display: block;
  color: rgba(150, 146, 146, 0.781);
  font-family: sans-serif;
  margin: 5px auto;
  text-align: center;
}

.right-form input:hover {
  transition: 0.9s;
  box-shadow: 1px 1px 2px 2px rgba(105, 104, 104, 0.589);
}

.right-sign {
  margin-top: 15px;
  margin: auto;
  height: 40px;
  border: 0px;
  width: 90px;
  border-radius: 40px;
  background-color: rgb(37, 124, 182);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.right-old-users {
  color: rgba(158, 156, 156, 0.795);
  font-family: sans-serif;
  font-size: 15px;
  margin: 7px auto;
}

.right-old-users a {
  color: rgb(3 155 229);
  cursor: pointer;
}

.right-p {
  display: flex;
  justify-content: center;
  color: rgb(3 155 229);
  font-family: sans-serif;
  font-size: 15px;
  margin: 20px auto;
}

.right-telegram {
  height: 35px;
  width: 225px;
  padding: 0px;
  border: 0px;
  background-color: rgb(3 155 229);
  cursor: pointer;
}

.right-telegram a {
  display: flex;
  text-decoration: none;
}

.right-telegram img {
  height: 35px;
  width: 35px;
  background-color: rgb(3 155 229);
}

.right-telegram p {
  color: white;
  font-family: sans-serif;
  margin: auto;
  font-size: 16px;
}

.mat-slide-toggle {
  margin: 15px 0 0px 40px;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(35 187 255 / 87%);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #32a0d2;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #6bd0e6;
}
.toggle-isRobot {
  text-align: start;
  margin-bottom: 25px;
}

@media (min-width: 760px) {
  .top-blok {
    display: flex;
    flex-direction: row;
  }

  .left-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .right-blok {
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
  }

  .mat-form-field {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .top-blok {
    display: flex;
  }

  .right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-form input {
    height: 42px;
    width: 426px;
    border-radius: 21px;
  }
}
