<div class="footer">
  <div class="left-footer">
    <img src="assets/title img/logo.png" alt="l" />
    <p>Crypto Mining Tools, 2021. All Rights Reserved</p>
  </div>

  <div class="footer-center">
    <mat-button-toggle-group
      class="footer-nav-top"
      name="favoriteColor"
      aria-label="Favorite Color"
    >
      <mat-button-toggle
        *ngFor="let navfoot of navFootBtn"
        class="footer-navs"
        value="navfoot.name"
        (click)="link(navfoot.link)"
        >{{ navfoot.name }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <div class="right-footer">
    <div class="right-footer-top">
      <div *ngFor="let icon of iconFoot" class="icon-footer">
        <a [href]="icon.link" target="_blank">
          <img [src]="icon.image" alt="l" />
        </a>
      </div>
    </div>
  </div>
</div>
