<div class="header">
  <div class="header-top">
    <div class="hamburger-menu">
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-btn" for="menu-toggle">
        <span></span>
      </label>
      <ul class="menu-box">
        <mat-button-toggle-group
          name="favoriteColor"
          aria-label="Favorite Color"
        >
          <mat-button-toggle
            class="menu-item-link"
            *ngFor="let nav of navButton"
            [routerLink]="nav.link"
            ><img [src]="nav.icon" /> {{ nav.name }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </ul>
    </div>
    <div class="header-logo" routerLink="">
      <img src="assets/title img/logo.png" alt="l" />
    </div>
    <mat-button-toggle-group class="btn-group">
      <mat-button-toggle routerLink="/directory">Directory</mat-button-toggle>
      <mat-button-toggle routerLink="/shop">Shop</mat-button-toggle>
      <button mat-button [matMenuTriggerFor]="enter">Enter</button>
      <mat-menu #enter="matMenu">
        <button *ngIf="!isAdmin && !isUser" mat-menu-item routerLink="/login">
          Login
        </button>
        <button *ngIf="!isAdmin && !isUser" mat-menu-item routerLink="/sign">
          Sign Up
        </button>
        <button *ngIf="isAdmin || isUser" mat-menu-item (click)="logOut()">
          Log Out
        </button>
      </mat-menu>
      <mat-button-toggle *ngIf="isAdmin" routerLink="/admin"
        >Admin</mat-button-toggle
      >
    </mat-button-toggle-group>
    <div class="header-btn-contact">
      <button
        mat-mini-fab
        class="header-btn-contact-basket"
        routerLink="/basket"
      >
        <img src="assets/title img/shopping-cart.png" />
        <div class="basket-counter" *ngIf="basketItemLength > 0">{{ basketItemLength }}</div>
      </button>
      <button mat-button class="header-btn-contact-top" routerLink="/contact">
        Contact Us
      </button>
    </div>
  </div>
</div>
