<div class="modal-window">
  <div class="wrapper-btn-close">
    <button mat-button mat-dialog-close class="btn-close-modal">X</button>
  </div>
  <h4 class="modal-model" mat-dialog-title>
    {{ item.headname }} {{ item.name }} {{ item.hash }} TH
  </h4>
  <div class="modal-character">
    <div class="wrapper-image">
      <img src="{{ item.image }}" alt="i" />
    </div>
    <div class="modal-character-top">
      <div class="column-name">Name</div>
      <div class="column-name">Value</div>
      <div>Manufacturer</div>
      <div>{{ item.headname }}</div>
      <div>Miner name</div>
      <div>{{ item.name }}</div>
      <div>Hashrate</div>
      <div>{{ item.hash }} TH</div>
      <div>Power (watts)</div>
      <div>{{ item.power }} W</div>
      <div>Release Date</div>
      <div>{{ item.date | date }}</div>
      <div>Supported Algorithm</div>
      <div>{{ item.algorithm }}</div>
      <div>Size</div>
      <div>{{ item.size }}</div>
      <div>Weight</div>
      <div>{{ item.weight }}</div>
    </div>
  </div>
  <div class="modal-price">
    <div class="price">Price: ${{ item.price }}</div>
    <div class="modal-availability">Availability: {{ item.availability }}</div>
  </div>
  <div class="wrapper-link">
    <button mat-button mat-dialog-close (click)="redirectTo(item.id)">
      More info
    </button>
  </div>
</div>
