@import "/src/assets/styles/style";
.header-inner {
  margin: auto 5%;
  color: $clr-bl-material;
}

.header-inner h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
  color: $clr-black-2;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.mat-slide-toggle {
  max-width: fit-content;
}
.top-form {
  padding: 10px 20px;
}
.admin-form {
  display: flex;
  flex-direction: column;
  font-family: $font-family-Roboto;
}

.btn-cart-add {
  margin: 30px auto;
  width: 60%;
  height: 40px;
  max-width: 140px;
  border-radius: 14px;
  font-size: 22px;
  border: $border-1 $clr-blue-1;
  color: $clr-blue-1;
  &:hover {
    transition: $transition-08;
    box-shadow: 1px 1px 6px rgba(190, 186, 186, 0.788);
    color: $clr-whiteSmoke;
    background-color: $clr-blue-1;
  }
}

.wrapper-table {
  overflow-x: auto;
}

::ng-deep .mat-table {
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  min-width: 750px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 5px;
}

@media (min-width: 765px) {
  .top-form {
    margin: 10% 20%;
  }
}

@media (min-width: 980px) {
  .top-form {
    margin: 5% 25%;
  }
}

.btn-table-edit,
.btn-table-delete {
  display: flex;
  margin: auto;
  background: none;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 4px;
}
.btn-table-edit {
  &:hover {
    transition: $transition-08;
    opacity: 1;
    background-color: $clr-black-2;
    color: $clr-white-1;
  }
}

.btn-table-delete {
  &:hover {
    transition: $transition-08;
    opacity: 1;
    background-color: rgb(238, 30, 30);
    color: $clr-white-1;
  }
}
