<div class="header marg-t">
  <div class="inner-header">
    <h3 class="title">Crypto Mining Tools</h3>

    <div class="all-about-crypto">
      <div class="all-about-crypto-blok" *ngFor="let item of linkItem">
        <div class="img-computer" [class.block-order]="item.orderImg === 1">
          <img [src]="item.source" alt="compucter" />
        </div>

        <div class="link-info">
          <a [routerLink]="item.link">{{ item.title }}</a>
          <p>{{ item.paragraph }}</p>
        </div>
      </div>
    </div>
    <div class="faq-head">FAQ</div>

    <div class="faq">
      <mat-accordion class="faq-blok">
        <mat-expansion-panel *ngFor="let paragraph of faqParagraph" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="faq-blok-title">{{
              paragraph.title
            }}</mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>

          <p class="faq-blok-info">{{ paragraph.info }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab
        class="faq-blok-title"
        *ngFor="let paragraph of faqParagraph"
        [label]="paragraph.title"
      >
        {{ paragraph.info }}</mat-tab
      >
    </mat-tab-group>
  </div>
</div>
