<div class="marg-t">
  <div class="header">
    <form class="form-top" [formGroup]="signUpForm">
      <h3 class="title">Sign Up</h3>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" />
      </mat-form-field>
      <div class="wrapper-error">
        <app-input-errors
          [showErrors]="showErrors('firstName')"
          [fieldErrors]="getError('firstName')"
          [errorMappingKey]="'firstName'"
        ></app-input-errors>
      </div>
      <mat-form-field>
        <mat-label>Second Name</mat-label>
        <input type="text" matInput formControlName="secondName" />
      </mat-form-field>
      <div class="wrapper-error">
        <app-input-errors
          [showErrors]="showErrors('secondName')"
          [fieldErrors]="getError('secondName')"
          [errorMappingKey]="'secondName'"
        ></app-input-errors>
      </div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <div class="wrapper-error">
        <app-input-errors
          [showErrors]="showErrors('email')"
          [fieldErrors]="getError('email')"
          [errorMappingKey]="'email'"
        ></app-input-errors>
      </div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="The password has at least 8 values"
        />
      </mat-form-field>
      <div class="wrapper-error">
        <app-input-errors
          [showErrors]="showErrors('password')"
          [fieldErrors]="getError('password')"
          [errorMappingKey]="'password'"
        ></app-input-errors>
      </div>
      <button
        mat-raised-button
        class="btn-sign"
        type="submit"
        [disabled]="!signUpForm.valid"
        (click)="signUp()"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
