html {
    margin: 0px;
}
body {
    margin: 0px;
}
.marg-t {
    margin-top: 100px;
    min-height: 490px;
    width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
