:root {
  --color-primary: #0084ff;
  --color-secondary: #7b8698;
}
$clr-black-1: #050505;
$clr-black-2: rgba(23, 23, 23, 0.937);
$clr-black-3: rgb(44, 44, 44);
$clr-bl-material: #00000099;
$clr-blue-1: #38a1e7;
$clr-blue-2: #0084ff;
$clr-white-1: #ffffff;
$clr-whiteSmoke: #f5f5f5;
$transition-08: 0.8s;
$border-1: 1px solid;
$font-family-Roboto: Roboto, "Helvetica Neue", sans-serif;
