:root {
  --color-primary: #0084ff;
  --color-secondary: #7b8698;
}
$clr-black-1: #050505;
$clr-black-2: #161616ef;
$clr-black-3: #1d1c1cda;
$clr-bl-material: #00000099;
$clr-blue-1: #0084ff;
$clr-white-1: #ffffff;
$clr-whiteSmoke: #f5f5f5;
$transition-08: 0.8s;
$border-1: 1px solid;
$font-family-Roboto: Roboto, "Helvetica Neue", sans-serif;
