<div class="marg-t">
    <div class="header">
        <div class="title">Air-cooled versus Immersion-cooled Bitcoin Mining Profitability</div>
        <div class="main">
            <div class="choose-data">
                <p>Efficiency</p>
                <label class="radio"><input type="radio" name="radio" checked>5%Improvement</label><br>
                <label class="radio"><input type="radio" name="radio">10%Improvement</label><br>
                <label class="radio"><input type="radio" name="radio">15%Improvement</label><br>
                <label class="range">Dev Fee 2.5%<input type="range" min="0" max="5" value="2.5" step="0.5"></label><br>
                <label class="range">Electricity Cost $0.15/kWh<input type="range" min="0" max="0.3" value="0.15" step="0.01"></label>
                <p class="choose-data-important">* For simplicity, these calculations assume that the mining difficulty and the price of Bitcoin will remain the same month over month. However, because more efficient and more powerful miners are being plugged in every day, it is extemely likely that the difficulty to mine will increase over time, making it potentially less profitable to mine.</p>
            </div>
            <div class="data-right">
                <div class="data-right-blok">
                    <div class="title-blok">Hash-rate</div>
                    <div class="blok-inner">
                        <div class="rate-box1"></div>
                        <div class="rate-box2">Air Cooled</div>
                        <div class="rate-box3">Immersion Cooled</div>
                        <div class="rate-box">TH/S</div>
                        <div class="rate-box">W/TH</div>
                        <div class="rate-box">TH/S</div>
                        <div class="rate-box">W/TH</div>
                    <!-- <div class="iteration-blok" *ngFor="let rate of rateValue">
                        <div class="title">{{ rate.name }}</div>
                        <div class="rate-box">{{ rate.airHash }}</div>
                        <div class="rate-box">{{ rate.airWatt }}</div>
                        <div class="rate-box">{{ rate.immersionHash }}</div>
                        <div class="rate-box">{{ rate.immersionWatt }}</div>
                    </div> -->
                    </div>
                </div>
                <div class="data-right-blok">
                    <div class="title-blok">Profit</div>
                    <div class="blok-inner">
                        <div class="rate-box1"></div>
                        <div class="rate-box2">Air Cooled</div>
                        <div class="rate-box3">Immersion Cooled</div>
                        <div class="rate-box">Monthly</div>
                        <div class="rate-box">Yearly</div>
                        <div class="rate-box">Monthly</div>
                        <div class="rate-box">Yearly</div>
                    </div>
                    <!-- <div class="iteration-blok" *ngFor="let profit of profitValue">
                        <div class="title">{{ profit.name }}</div>
                        <div class="rate-box">{{ profit.airMon }}</div>
                        <div class="rate-box">{{ profit.airYear }}</div>
                        <div class="rate-box">{{ profit.immersionMon }}</div>
                        <div class="rate-box">{{ profit.immersionYear }}</div>
                    </div>             -->
                </div>
                <div class="data-right-blok">
                    <div class="title-blok">Days to Break Even</div>
                    <div class="days-break-inner">
                        <div class="break-box1"></div>
                        <div class="break-box">Price</div>
                        <div class="break-box">Air Cooled</div>
                        <div class="break-box4">Immersion Cooled</div>
                    </div>
                </div>
                <div class="info-price">
                    <p> * Immersion cooling calculation best used via desktop<br><br>
                        
                        * The purchase price of the miners have been pre-populated for you based on the average hardware costs found online recently.<br><br>
                        
                        Editing the price listed will impact the Days to Break Even values</p>
                    <a href="#">Days to Break Even vs Days to ROI</a>
                </div>
            </div>
        </div>
    </div>    
</div>
