<div class="main">
  <div class="filter">Filter By</div>
  <div class="filter-btn">
    <mat-form-field appearance="fill" class="sort-item">
      <mat-label class="sort-item-label">Filter</mat-label>
      <mat-select (selectionChange)="onFilterHash($event)">
        <mat-option
          *ngFor="let filterItem of filterItems"
          [value]="filterItem.value"
          >{{ filterItem.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="sort-item">
      <mat-label>Sort</mat-label>
      <mat-select (selectionChange)="onSortItem($event)">
        <mat-option
          *ngFor="let sortItem of sortItems"
          [value]="sortItem.value"
          >{{ sortItem.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="onResetFilter()">Reset</button>
  </div>
  <div class="wrapper-searcher">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Search by manufacturer or model</mat-label>
      <input matInput type="text" (keydown)="onEnterSearchTool($event)" />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="main-title">Best Selling</div>
</div>
<div class="top-cards">
  <div class="wrapper-cards">
    <div
      class="card"
      *ngFor="let item of cardItem | slice: startIndex:endIndex"
    >
      <div class="card-inner">
        <div class="wrapper-imagine">
          <img class="card-imagine" src="{{ item.image }}" alt="i" />
        </div>
        <h4 class="model">{{ item.name }}</h4>
        <div class="btn-info">
          <button>{{ item.hash }} TH</button>
          <button>{{ item.power }} w</button>
        </div>
        <p class="price">${{ item.price }}</p>
        <div class="wrapper-btn-cart">
          <button mat-raised-button class="btn-buy" (click)="onOpenModal(item)">
            Shop Now
          </button>
          <button
            mat-fab
            class="btn-add-basket"
            aria-label="Example icon button with a bookmark icon"
            (click)="addToBasket(item)"
          >
            <mat-icon aria-hidden="false">add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  [length]="cardItem.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>
