.main {
  margin: 40px 20px 60px;
}

.filter {
  text-align: center;
  font-family: sans-serif;
  margin-top: 30px auto 20px;
  font-size: 25px;
  font-weight: 700;
}

.filter-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-style {
  height: 36px;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border: none;
  border-radius: 18px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(190, 176, 176, 0.705);
  margin: 10px 10px;
  padding: 8px 16px;
  outline: none;
}

.btn-style:hover {
  transition: 1s;
  box-shadow: 2px 2px 6px rgba(129, 125, 125, 0.795);
}

.btn-click-down:hover {
  transition: 1s;
  background-color: rgba(127, 212, 238, 0.774);
}

.location {
  min-width: 115px;
  width: 115px;
  min-width: 115px;
  display: block;
  padding: 0px 16px;
  outline: none;
}

.btn-th-w {
  max-width: 150px;
}

.filter-search {
  margin: 40px auto;
}

.filter-search input {
  height: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 95%;
  max-width: 380px;
  font-size: 16px;
  padding-left: 5%;
  border: none;
  box-shadow: 2px 2px 2px rgba(190, 176, 176, 0.705);
  outline: none;
}

.cards-title {
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
  margin-bottom: 40px;
}
.top-cards {
  margin: auto 15px 90px;
}
.wrapper-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.card {
  text-align: center;
  width: 280px;
  height: 420px;
  margin: 30px auto;
  color: whitesmoke;
  box-shadow: 0px 0px 3px 3px rgba(190, 186, 186, 0.589);
  border-radius: 10px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.card:hover {
  transition: 1.2s;
  box-shadow: 0px 0px 6px 6px rgba(190, 186, 186, 0.747);
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-imagine {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
}

.card-imagine {
  width: 90%;
  margin: 15px auto auto;
}

.model {
  color: rgb(44, 44, 44);
  font-family: monospace;
  font-size: 20px;
  margin: 15px auto;
}

.btn-info {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
}

.btn-info button {
  height: 34px;
  border-radius: 17px;
  border: none;
  color: rgb(48, 48, 49);
  background-color: whitesmoke;
}

.price {
  color: rgb(53, 187, 240);
  font-size: 22px;
  font-weight: 600;
  margin: 7px auto;
}

.wrapper-btn-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
}

.btn-buy {
  height: 40px;
  width: 110px;
  border-radius: 20px;
  border: none;
  padding: 3% auto;
  color: white;
  background-color: rgb(56, 161, 231);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-buy:hover {
  transition: 1.1s;
  background-color: rgb(241, 245, 245);
  color: rgb(31, 29, 29);
}

.btn-add-basket {
  background-color: rgb(56, 161, 231);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.wrapper-btn-cart ::ng-deep .mat-fab .mat-button-wrapper {
  display: block;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mat-paginator {
  margin: auto 20px 30px auto;
}

@media (min-width: 765px) {
  .top-cards {
    margin: auto 30px 90px;
  }
  .btn-style {
    width: fit-content;
  }
  .filter-btn {
    flex-direction: row;
  }
}

@media (min-width: 980px) {
  .location {
    display: inline;
  }
}

.sort-item {
  border-radius: 10px 10px 0 0 !important;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  margin: 40px 20px;
}

.sort-item-label {
  border-radius: 10px 10px 0 0 !important;
}

.filter-btn ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}
